fieldset {
  padding: calc(var(--base-spacing-unit) - 1px);
  margin: 0;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  padding: 0 1px;
  border: 1px solid #000;
  line-height: calc(var(--base-spacing-unit) - 2px);
  background-color: transparent;
  width: 100%;
}

button,
input[type=submit] {
  padding: 0 1em;
  border: 1px solid #000;
  line-height: calc(var(--base-spacing-unit) - 2px);
  background-color: transparent;
}

textarea {
  line-height: calc(var(--base-spacing-unit) - 1px);
}

select {
  border: 1px solid #000;
  height: var(--base-spacing-unit);
  background-color: transparent;
}

input[type=radio],
input[type=checkbox] {
  vertical-align: middle;
  margin-right: 0.25em;
}
