@custom-media --breakpoint-xs (min-width: 21rem); /** 336px **/
@custom-media --breakpoint-sm (min-width: 48rem); /** 768px **/
@custom-media --breakpoint-md (min-width: 64rem); /** 1024px **/
@custom-media --breakpoint-lg (min-width: 80rem); /** 1280px **/
@custom-media --breakpoint-xl (min-width: 120rem); /** 1920px **/

@custom-media --breakpoint-xs-sm (min-width: 21rem) and (max-width: 48rem); /** min: 336px; max: 768px; **/
@custom-media --breakpoint-sm-md (min-width: 48rem) and (max-width: 64rem); /** min: 768px; max: 1024px; **/
@custom-media --breakpoint-md-lg (min-width: 64rem) and (max-width: 80rem); /** min: 1024px; max: 1280px; **/
@custom-media --breakpoint-lg-xl (min-width: 80rem) and (max-width: 120rem); /** min: 1280px; max: 1920px; **/
