:root {
  --gutter: var(--base-spacing-unit);
  --gutter-compensation: calc(var(--gutter) * -1);

  --grid {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: var(--gutter-compensation);
  }

  --grid__col-defaults {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: var(--gutter);
    width: 100%;
  }

  --grid__col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  --grid__col-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  --grid__col-2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
  }

  --grid__col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  --grid__col-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  --grid__col-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  --grid__col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  --grid__col-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  --grid__col-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  --grid__col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  --grid__col-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  --grid__col-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  --grid__col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  --grid__col-offset-1 {
    margin-left: 8.333%;
  }

  --grid__col-offset-2 {
    margin-left: 16.666%;
  }

  --grid__col-offset-3 {
    margin-left: 25%;
  }

  --grid__col-offset-4 {
    margin-left: 33.333%;
  }

  --grid__col-offset-5 {
    margin-left: 41.667%;
  }

  --grid__col-offset-6 {
    margin-left: 50%;
  }

  --grid__col-offset-7 {
    margin-left: 58.333%;
  }

  --grid__col-offset-8 {
    margin-left: 66.667%;
  }

  --grid__col-offset-9 {
    margin-left: 75%;
  }

  --grid__col-offset-10 {
    margin-left: 83.333%;
  }

  --grid__col-offset-11 {
    margin-left: 91.667%;
  }

  --grid--without-gutters {
    margin-left: 0;
  }

  --grid--justify-start {
    justify-content: flex-start;
    text-align: start;
  }

  --grid--justify-center {
    justify-content: center;
    text-align: center;
  }

  --grid--justify-end {
    justify-content: flex-end;
    text-align: end;
  }

  --grid--justify-around {
    justify-content: space-around;
  }

  --grid--justify-between {
    justify-content: space-between;
  }

  --grid--align-top {
    align-items: flex-start;
  }

  --grid--align-middle {
    align-items: center;
  }

  --grid--align-bottom {
    align-items: flex-end;
  }

  --grid--row-reverse {
    flex-direction: row-reverse;
  }

  --grid--col-reverse {
    flex-direction: column-reverse;
  }

  --grid__col--without-gutters {
    padding-left: 0;
  }

  --grid__col--order-first {
    order: -1;
  }

  --grid__col--order-last {
    order: 1;
  }

}

.grid__col,
.grid__col-1,
.grid__col-2,
.grid__col-3,
.grid__col-4,
.grid__col-5,
.grid__col-6,
.grid__col-7,
.grid__col-8,
.grid__col-9,
.grid__col-10,
.grid__col-11,
.grid__col-12 {
  @apply --grid__col-defaults;
}

.grid {
  @apply --grid;
}

.grid--without-gutters {
  @apply --grid--without-gutters;
}

.grid__col {
  @apply --grid__col;
}

.grid__col--without-gutters {
  @apply --grid__col--without-gutters;
}

.grid__col-1 {
  @apply --grid__col-1;
}

.grid__col-2 {
  @apply --grid__col-2;
}

.grid__col-3 {
  @apply --grid__col-3;
}

.grid__col-4 {
  @apply --grid__col-4;
}

.grid__col-5 {
  @apply --grid__col-5;
}

.grid__col-6 {
  @apply --grid__col-6;
}

.grid__col-7 {
  @apply --grid__col-7;
}

.grid__col-8 {
  @apply --grid__col-8;
}

.grid__col-9 {
  @apply --grid__col-9;
}

.grid__col-10 {
  @apply --grid__col-10;
}

.grid__col-11 {
  @apply --grid__col-11;
}

.grid__col-12 {
  @apply --grid__col-12;
}

.grid__col-offset-1 {
  @apply --grid__col-offset-1;
}

.grid__col-offset-2 {
  @apply --grid__col-offset-2;
}

.grid__col-offset-3 {
  @apply --grid__col-offset-3;
}

.grid__col-offset-4 {
  @apply --grid__col-offset-4;
}

.grid__col-offset-5 {
  @apply --grid__col-offset-5;
}

.grid__col-offset-6 {
  @apply --grid__col-offset-6;
}

.grid__col-offset-7 {
  @apply --grid__col-offset-7;
}

.grid__col-offset-8 {
  @apply --grid__col-offset-8;
}

.grid__col-offset-9 {
  @apply --grid__col-offset-9;
}

.grid__col-offset-10 {
  @apply --grid__col-offset-10;
}

.grid__col-offset-11 {
  @apply --grid__col-offset-11;
}

.grid--justify-start {
  @apply --grid--justify-start;
}

.grid--justify-center {
  @apply --grid--justify-center;
}

.grid--justify-end {
  @apply --grid--justify-end;
}

.grid--justify-around {
  @apply --grid--justify-around;
}

.grid--justify-between {
  @apply --grid--justify-between;
}

.grid--align-top {
  @apply --grid--align-top;
}

.grid--align-middle {
  @apply --grid--align-middle;
}

.grid--align-bottom {
  @apply --grid--align-bottom;
}

.grid--row-reverse {
  @apply --grid--row-reverse;
}

.grid--col-reverse {
  @apply --grid--col-reverse;
}

.grid__col--order-first {
  @apply --grid__col--order-first;
}

.grid__col--order-last {
  @apply --grid__col--order-last;
}

@media (--breakpoint-sm) {

  .grid-sm {
    @apply --grid;
  }

  .grid-sm--without-gutters {
    @apply --grid__col--without-gutters;
  }

  [class*="grid__col-sm"] {
    @apply --grid__col-defaults;
  }

  .grid__col-sm {
    @apply --grid__col;
  }

  .grid__col-sm--without-gutters {
    @apply --grid__col--without-gutters;
  }

  .grid__col-sm-1 {
    @apply --grid__col-1;
  }

  .grid__col-sm-2 {
    @apply --grid__col-2;
  }

  .grid__col-sm-3 {
    @apply --grid__col-3;
  }

  .grid__col-sm-4 {
    @apply --grid__col-4;
  }

  .grid__col-sm-5 {
    @apply --grid__col-5;
  }

  .grid__col-sm-6 {
    @apply --grid__col-6;
  }

  .grid__col-sm-7 {
    @apply --grid__col-7;
  }

  .grid__col-sm-8 {
    @apply --grid__col-1;
  }

  .grid__col-sm-9 {
    @apply --grid__col-9;
  }

  .grid__col-sm-10 {
    @apply --grid__col-10;
  }

  .grid__col-sm-11 {
    @apply --grid__col-11;
  }

  .grid__col-sm-12 {
    @apply --grid__col-12;
  }

  .grid__col-sm-offset-1 {
    @apply --grid__col-offset-1;
  }

  .grid__col-sm-offset-2 {
    @apply --grid__col-offset-2;
  }

  .grid__col-sm-offset-3 {
    @apply --grid__col-offset-3;
  }

  .grid__col-sm-offset-4 {
    @apply --grid__col-offset-4;
  }

  .grid__col-sm-offset-5 {
    @apply --grid__col-offset-5;
  }

  .grid__col-sm-offset-6 {
    @apply --grid__col-offset-6;
  }

  .grid__col-sm-offset-7 {
    @apply --grid__col-offset-7;
  }

  .grid__col-sm-offset-8 {
    @apply --grid__col-offset-8;
  }

  .grid__col-sm-offset-9 {
    @apply --grid__col-offset-9;
  }

  .grid__col-sm-offset-10 {
    @apply --grid__col-offset-10;
  }

  .grid__col-sm-offset-11 {
    @apply --grid__col-offset-11;
  }

  .grid-sm--justify-start {
    @apply --grid--justify-start;
  }

  .grid-sm--justify-center {
    @apply --grid--justify-center;
  }

  .grid-sm--justify-end {
    @apply --grid--justify-end;
  }

  .grid-sm--justify-around {
    @apply --grid--justify-around;
  }

  .grid-sm--justify-between {
    @apply --grid--justify-between;
  }

  .grid-sm--align-top {
    @apply --grid--align-top;
  }

  .grid-sm--align-middle {
    @apply --grid--align-middle;
  }

  .grid-sm--align-bottom {
    @apply --grid--align-bottom;
  }

  .grid-sm--row-reverse {
    @apply --grid--row-reverse;
  }

  .grid-sm--col-reverse {
    @apply --grid--col-reverse;
  }

  .grid__col-sm--order-first {
    @apply --grid__col--order-first;
  }

  .grid__col-sm--order-last {
    @apply --grid__col--order-last;
  }

}

@media (--breakpoint-md) {

  .grid-md {
    @apply --grid;
  }

  .grid-md--without-gutters {
    @apply --grid--without-gutters;
  }

  [class*="grid__col-md"] {
    @apply --grid__col-defaults;
  }

  .grid__col-md {
    @apply --grid__col;
  }

  .grid__col-md--without-gutters {
    @apply --grid__col--without-gutters;
  }

  .grid__col-md-1 {
    @apply --grid__col-1
  }

  .grid__col-md-2 {
    @apply --grid__col-2;
  }

  .grid__col-md-3 {
    @apply --grid__col-3;
  }

  .grid__col-md-4 {
    @apply --grid__col-4;
  }

  .grid__col-md-5 {
    @apply --grid__col-5;
  }

  .grid__col-md-6 {
    @apply --grid__col-6;
  }

  .grid__col-md-7 {
    @apply --grid__col-7;
  }

  .grid__col-md-8 {
    @apply --grid__col-1;
  }

  .grid__col-md-9 {
    @apply --grid__col-9;
  }

  .grid__col-md-10 {
    @apply --grid__col-10;
  }

  .grid__col-md-11 {
    @apply --grid__col-11;
  }

  .grid__col-md-12 {
    @apply --grid__col-12;
  }

  .grid__col-md-offset-1 {
    @apply --grid__col-offset-1;
  }

  .grid__col-md-offset-2 {
    @apply --grid__col-offset-2;
  }

  .grid__col-md-offset-3 {
    @apply --grid__col-offset-3;
  }

  .grid__col-md-offset-4 {
    @apply --grid__col-offset-4;
  }

  .grid__col-md-offset-5 {
    @apply --grid__col-offset-5;
  }

  .grid__col-md-offset-6 {
    @apply --grid__col-offset-6;
  }

  .grid__col-md-offset-7 {
    @apply --grid__col-offset-7;
  }

  .grid__col-md-offset-8 {
    @apply --grid__col-offset-8;
  }

  .grid__col-md-offset-9 {
    @apply --grid__col-offset-9;
  }

  .grid__col-md-offset-10 {
    @apply --grid__col-offset-10;
  }

  .grid__col-md-offset-11 {
    @apply --grid__col-offset-11;
  }

  .grid-md--justify-start {
    @apply --grid--justify-start;
  }

  .grid-md--justify-center {
    @apply --grid--justify-center;
  }

  .grid-md--justify-end {
    @apply --grid--justify-end;
  }

  .grid-md--justify-around {
    @apply --grid--justify-around;
  }

  .grid-md--justify-between {
    @apply --grid--justify-between;
  }

  .grid-md--align-top {
    @apply --grid--align-top;
  }

  .grid-md--align-middle {
    @apply --grid--align-middle;
  }

  .grid-md--align-bottom {
    @apply --grid--align-bottom;
  }

  .grid-md--row-reverse {
    @apply --grid--row-reverse;
  }

  .grid-md--col-reverse {
    @apply --grid--col-reverse;
  }

  .grid__col-md--order-first {
    @apply --grid__col--order-first;
  }

  .grid__col-md--order-last {
    @apply --grid__col--order-last;
  }
}

@media (--breakpoint-lg) {

  .grid-lg {
    @apply --grid;
  }

  .grid-lg--without-gutters {
    @apply --grid--without-gutters;
  }

  [class*="grid__col-lg"] {
    @apply --grid__col-defaults;
  }

  .grid__col-lg {
    @apply --grid__col;
  }

  .grid__col-lg--without-gutters {
    @apply --grid__col--without-gutters;
  }

  .grid__col-lg-1 {
    @apply --grid__col-1
  }

  .grid__col-lg-2 {
    @apply --grid__col-2;
  }

  .grid__col-lg-3 {
    @apply --grid__col-3;
  }

  .grid__col-lg-4 {
    @apply --grid__col-4;
  }

  .grid__col-lg-5 {
    @apply --grid__col-5;
  }

  .grid__col-lg-6 {
    @apply --grid__col-6;
  }

  .grid__col-lg-7 {
    @apply --grid__col-7;
  }

  .grid__col-lg-8 {
    @apply --grid__col-1;
  }

  .grid__col-lg-9 {
    @apply --grid__col-9;
  }

  .grid__col-lg-10 {
    @apply --grid__col-10;
  }

  .grid__col-lg-11 {
    @apply --grid__col-11;
  }

  .grid__col-lg-12 {
    @apply --grid__col-12;
  }

  .grid__col-lg-offset-1 {
    @apply --grid__col-offset-1;
  }

  .grid__col-lg-offset-2 {
    @apply --grid__col-offset-2;
  }

  .grid__col-lg-offset-3 {
    @apply --grid__col-offset-3;
  }

  .grid__col-lg-offset-4 {
    @apply --grid__col-offset-4;
  }

  .grid__col-lg-offset-5 {
    @apply --grid__col-offset-5;
  }

  .grid__col-lg-offset-6 {
    @apply --grid__col-offset-6;
  }

  .grid__col-lg-offset-7 {
    @apply --grid__col-offset-7;
  }

  .grid__col-lg-offset-8 {
    @apply --grid__col-offset-8;
  }

  .grid__col-lg-offset-9 {
    @apply --grid__col-offset-9;
  }

  .grid__col-lg-offset-10 {
    @apply --grid__col-offset-10;
  }

  .grid__col-lg-offset-11 {
    @apply --grid__col-offset-11;
  }

  .grid-lg--justify-start {
    @apply --grid--justify-start;
  }

  .grid-lg--justify-center {
    @apply --grid--justify-center;
  }

  .grid-lg--justify-end {
    @apply --grid--justify-end;
  }

  .grid-lg--justify-around {
    @apply --grid--justify-around;
  }

  .grid-lg--justify-between {
    @apply --grid--justify-between;
  }

  .grid-lg--align-top {
    @apply --grid--align-top;
  }

  .grid-lg--align-middle {
    @apply --grid--align-middle;
  }

  .grid-lg--align-bottom {
    @apply --grid--align-bottom;
  }

  .grid-lg--row-reverse {
    @apply --grid--row-reverse;
  }

  .grid-lg--col-reverse {
    @apply --grid--col-reverse;
  }

  .grid__col-lg--order-first {
    @apply --grid__col--order-first;
  }

  .grid__col-lg--order-last {
    @apply --grid__col--order-last;
  }
}

@media (--breakpoint-xl) {

  .grid-xl {
    @apply --grid;
  }

  .grid-xl--without-gutters {
    @apply --grid--without-gutters;
  }

  [class*="grid__col-xl"] {
    @apply --grid__col-defaults;
  }

  .grid__col-xl {
    @apply --grid__col;
  }

  .grid__col-xl--without-gutters {
    @apply --grid__col--without-gutters;
  }

  .grid__col-xl-1 {
    @apply --grid__col-1
  }

  .grid__col-xl-2 {
    @apply --grid__col-2;
  }

  .grid__col-xl-3 {
    @apply --grid__col-3;
  }

  .grid__col-xl-4 {
    @apply --grid__col-4;
  }

  .grid__col-xl-5 {
    @apply --grid__col-5;
  }

  .grid__col-xl-6 {
    @apply --grid__col-6;
  }

  .grid__col-xl-7 {
    @apply --grid__col-7;
  }

  .grid__col-xl-8 {
    @apply --grid__col-8;
  }

  .grid__col-xl-9 {
    @apply --grid__col-9;
  }

  .grid__col-xl-10 {
    @apply --grid__col-10;
  }

  .grid__col-xl-11 {
    @apply --grid__col-11;
  }

  .grid__col-xl-12 {
    @apply --grid__col-12;
  }

  .grid__col-xl-offset-1 {
    @apply --grid__col-offset-1;
  }

  .grid__col-xl-offset-2 {
    @apply --grid__col-offset-2;
  }

  .grid__col-xl-offset-3 {
    @apply --grid__col-offset-3;
  }

  .grid__col-xl-offset-4 {
    @apply --grid__col-offset-4;
  }

  .grid__col-xl-offset-5 {
    @apply --grid__col-offset-5;
  }

  .grid__col-xl-offset-6 {
    @apply --grid__col-offset-6;
  }

  .grid__col-xl-offset-7 {
    @apply --grid__col-offset-7;
  }

  .grid__col-xl-offset-8 {
    @apply --grid__col-offset-8;
  }

  .grid__col-xl-offset-9 {
    @apply --grid__col-offset-9;
  }

  .grid__col-xl-offset-10 {
    @apply --grid__col-offset-10;
  }

  .grid__col-xl-offset-11 {
    @apply --grid__col-offset-11;
  }

  .grid-xl--justify-start {
    @apply --grid--justify-start;
  }

  .grid-xl--justify-center {
    @apply --grid--justify-center;
  }

  .grid-xl--justify-end {
    @apply --grid--justify-end;
  }

  .grid-xl--justify-around {
    @apply --grid--justify-around;
  }

  .grid-xl--justify-between {
    @apply --grid--justify-between;
  }

  .grid-xl--align-top {
    @apply --grid--align-top;
  }

  .grid-xl--align-middle {
    @apply --grid--align-middle;
  }

  .grid-xl--align-bottom {
    @apply --grid--align-bottom;
  }

  .grid-xl--row-reverse {
    @apply --grid--row-reverse;
  }

  .grid-xl--col-reverse {
    @apply --grid--col-reverse;
  }

  .grid__col-xl--order-first {
    @apply --grid__col--order-first;
  }

  .grid__col-xl--order-last {
    @apply --grid__col--order-last;
  }
}
