/** DISPLAY **/

.inline       {
  display: inline;
  vertical-align: bottom;
 }

.block        {
  display: block;
 }

.inline-block {
  display: inline-block;
  vertical-align: bottom;
 }

.table        {
  display: table;
 }

.table-cell   {
  display: table-cell;
 }

/** FLOATS **/

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}


/** COVER **/
.cover {
  width: 100%;
  height: 100%;
}

.cover-x {
  width: 100%;
}

.cover-y {
  height: 100%;
}

.cover-viewport {
  height: 100vh;
  width: 100vw;
}

.cover-viewport-h {
  height: 100vh;
}

.cover-viewport-w {
  width: 100vw;
}

/** BOX SIZING **/

.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}