:root {
  --push: {
    margin: var(--base-spacing-unit);
  }
  --push-top: {
    margin-top: var(--base-spacing-unit);
  }
  --push-right {
    margin-right: var(--base-spacing-unit);
  }
  --push-bottom: {
    margin-bottom: var(--base-spacing-unit);
  }
  --push-left {
    margin-left: var(--base-spacing-unit);
  }
  --push-ends {
    margin-bottom: var(--base-spacing-unit);
    margin-top: var(--base-spacing-unit);
  }
  --push-sides {
    margin-left: var(--base-spacing-unit);
    margin-right: var(--base-spacing-unit);
  }
  --push-half {
    margin: calc(var(--base-spacing-unit) / 2);
  }
  --push-half-top {
    margin-top: calc(var(--base-spacing-unit) / 2);
  }

  --push-half-right {
    margin-right: calc(var(--base-spacing-unit) / 2);
  }

  --push-half-bottom {
    margin-bottom: calc(var(--base-spacing-unit) / 2);
  }

  --push-half-left {
    margin-left: calc(var(--base-spacing-unit) / 2);
  }

  --push-half-ends {
    margin-bottom: calc(var(--base-spacing-unit) / 2);
    margin-top: calc(var(--base-spacing-unit) / 2);
  }

  --push-half-sides {
    margin-left: calc(var(--base-spacing-unit) / 2);
    margin-right: calc(var(--base-spacing-unit) / 2);
  }

  --flush {
    margin: 0;
  }

  --flush-top {
    margin-top: 0;
  }

  --flush-right {
    margin-right: 0;
  }

  --flush-bottom {
    margin-bottom: 0;
  }

  --flush-left {
    margin-left: 0;
  }

  --flush-ends {
    margin-bottom: 0;
    margin-top: 0;
  }

  --flush-sides {
    margin-left: 0;
    margin-right: 0;
  }
}

.push {
  @apply --push;
}

.push-top {
  @apply --push-top;
}

.push-right {
  @apply --push-right;
}

.push-bottom {
  @apply --push-bottom;
}

.push-left {
  @apply --push-left;
}

.push-ends {
  @apply --push-ends;
}

.push-sides {
  @apply --push-sides;
}

.push-half {
  @apply --push-half;
}

.push-half-top {
  @apply --push-half-top;
}

.push-half-right {
  @apply --push-half-right;
}

.push-half-bottom {
  @apply --push-half-bottom;
}

.push-half-left {
  @apply --push-half-left;
}

.push-half-ends {
  @apply --push-half-ends;
}

.push-half-sides {
  @apply --push-half-sides;
}

.flush {
  @apply --flush;
}

.flush-top {
  @apply --flush-top;
}

.flush-right {
  @apply --flush-right;
}

.flush-bottom {
  @apply --flush-bottom;
}

.flush-left {
  @apply --flush-left;
}

.flush-ends {
  @apply --flush-ends;
}

.flush-sides {
  @apply --flush-sides;
}

@media (--breakpoint-sm) {
  .push-sm {
    @apply --push;
  }

  .push-sm-top {
    @apply --push-top;
  }

  .push-sm-right {
    @apply --push-right;
  }

  .push-sm-bottom {
    @apply --push-bottom;
  }

  .push-sm-left {
    @apply --push-left;
  }

  .push-sm-ends {
    @apply --push-ends;
  }

  .push-sm-sides {
    @apply --push-sides;
  }

  .push-sm-half {
    @apply --push-half;
  }

  .push-sm-half-top {
    @apply --push-half-top;
  }

  .push-sm-half-right {
    @apply --push-half-right;
  }

  .push-sm-half-bottom {
    @apply --push-half-bottom;
  }

  .push-sm-half-left {
    @apply --push-half-left;
  }

  .push-sm-half-ends {
    @apply --push-half-ends;
  }

  .push-sm-half-sides {
    @apply --push-half-sides;
  }

  .flush-sm {
    @apply --flush;
  }

  .flush-sm-top {
    @apply --flush-top;
  }

  .flush-sm-right {
    @apply --flush-right;
  }

  .flush-sm-bottom {
    @apply --flush-bottom;
  }

  .flush-sm-left {
    @apply --flush-left;
  }

  .flush-sm-ends {
    @apply --flush-ends;
  }

  .flush-sm-sides {
    @apply --flush-sides;
  }
}

@media (--breakpoint-md) {
  .push-md {
    @apply --push;
  }

  .push-md-top {
    @apply --push-top;
  }

  .push-md-right {
    @apply --push-right;
  }

  .push-md-bottom {
    @apply --push-bottom;
  }

  .push-md-left {
    @apply --push-left;
  }

  .push-md-ends {
    @apply --push-ends;
  }

  .push-md-sides {
    @apply --push-sides;
  }

  .push-md-half {
    @apply --push-half;
  }

  .push-md-half-top {
    @apply --push-half-top;
  }

  .push-md-half-right {
    @apply --push-half-right;
  }

  .push-md-half-bottom {
    @apply --push-half-bottom;
  }

  .push-md-half-left {
    @apply --push-half-left;
  }

  .push-md-half-ends {
    @apply --push-half-ends;
  }

  .push-md-half-sides {
    @apply --push-half-sides;
  }

  .flush-md {
    @apply --flush;
  }

  .flush-md-top {
    @apply --flush-top;
  }

  .flush-md-right {
    @apply --flush-right;
  }

  .flush-md-bottom {
    @apply --flush-bottom;
  }

  .flush-md-left {
    @apply --flush-left;
  }

  .flush-md-ends {
    @apply --flush-ends;
  }

  .flush-md-sides {
    @apply --flush-sides;
  }
}

@media (--breakpoint-lg) {
  .push-lg {
    @apply --push;
  }

  .push-lg-top {
    @apply --push-top;
  }

  .push-lg-right {
    @apply --push-right;
  }

  .push-lg-bottom {
    @apply --push-bottom;
  }

  .push-lg-left {
    @apply --push-left;
  }

  .push-lg-ends {
    @apply --push-ends;
  }

  .push-lg-sides {
    @apply --push-sides;
  }

  .push-lg-half {
    @apply --push-half;
  }

  .push-lg-half-top {
    @apply --push-half-top;
  }

  .push-lg-half-right {
    @apply --push-half-right;
  }

  .push-lg-half-bottom {
    @apply --push-half-bottom;
  }

  .push-lg-half-left {
    @apply --push-half-left;
  }

  .push-lg-half-ends {
    @apply --push-half-ends;
  }

  .push-lg-half-sides {
    @apply --push-half-sides;
  }

  .flush-lg {
    @apply --flush;
  }

  .flush-lg-top {
    @apply --flush-top;
  }

  .flush-lg-right {
    @apply --flush-right;
  }

  .flush-lg-bottom {
    @apply --flush-bottom;
  }

  .flush-lg-left {
    @apply --flush-left;
  }

  .flush-lg-ends {
    @apply --flush-ends;
  }

  .flush-lg-sides {
    @apply --flush-sides;
  }
}

@media (--breakpoint-xl) {
  .push-xl {
    @apply --push;
  }

  .push-xl-top {
    @apply --push-top;
  }

  .push-xl-right {
    @apply --push-right;
  }

  .push-xl-bottom {
    @apply --push-bottom;
  }

  .push-xl-left {
    @apply --push-left;
  }

  .push-xl-ends {
    @apply --push-ends;
  }

  .push-xl-sides {
    @apply --push-sides;
  }

  .push-xl-half {
    @apply --push-half;
  }

  .push-xl-half-top {
    @apply --push-half-top;
  }

  .push-xl-half-right {
    @apply --push-half-right;
  }

  .push-xl-half-bottom {
    @apply --push-half-bottom;
  }

  .push-xl-half-left {
    @apply --push-half-left;
  }

  .push-xl-half-ends {
    @apply --push-half-ends;
  }

  .push-xl-half-sides {
    @apply --push-half-sides;
  }

  .flush-xl {
    @apply --flush;
  }

  .flush-xl-top {
    @apply --flush-top;
  }

  .flush-xl-right {
    @apply --flush-right;
  }

  .flush-xl-bottom {
    @apply --flush-bottom;
  }

  .flush-xl-left {
    @apply --flush-left;
  }

  .flush-xl-ends {
    @apply --flush-ends;
  }

  .flush-xl-sides {
    @apply --flush-sides;
  }
}