:root {
  --z1: 100;
  --z2: 200;
  --z3: 300;
  --z4: 400;
  --z5: 500;
}

.relative {
  position: relative;
 }

.absolute {
  position: absolute;
}

.fixed    {
  position: fixed;
}

.top-0    {
  top: 0;
}

.right-0  {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0   {
  left: 0;
}

.top-auto {
  top: auto;
}

.right-auto {
  right: auto;
}

.bottom-auto {
  bottom: auto;
}

.left-auto {
  left: auto;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}
