:root {

  --xxl-font-size: 6em;
  --xl-font-size: 4em;
  --h1-font-size: 2.25em;
  --h2-font-size: 2em;
  --h3-font-size: 1.75em;
  --h4-font-size: 1.5em;
  --h5-font-size: 1.25em;
  --h6-font-size: 1em;
  --small-font-size: 0.75em;

  --xxl-line-height: 1.0000;
  --xl-line-height: 1.1250;
  --h1-line-height: 1.33333333333333;
  --h2-line-height: 1.5000;
  --h3-line-height: 1.71428571428571;
  --h4-line-height: 1.0000;
  --h5-line-height: 1.2000;
  --h6-line-height: 1.5000;
  --small-line-height: 2.0000;

  --xxl-margin: 0.2500em;
  --xl-margin: 0.3750em;
  --h1-margin: 0.66666666666667em;
  --h2-margin: 0.7500em;
  --h3-margin: 0.85714285714286em;
  --h4-margin: 1.0000em;
  --h5-margin: 1.2000em;
  --h6-margin: 1.5000em;
  --small-margin: 2.0000em;

  --xxl {
    font-size: var(--xxl-font-size);
    line-height: var(--xxl-line-height);
    margin: 0 0 var(--xxl-margin);
  }

  --xl {
    font-size: var(--xl-font-size);
    line-height: var(--xl-line-height);
    margin: 0 0 var(--xl-margin);
  }

  --h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    margin: 0 0 var(--h1-margin);
  }

  --h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    margin: 0 0 var(--h2-margin);
  }

  --h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    margin: 0 0 var(--h3-margin);
  }

  --h4 {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
    margin: 0 0 var(--h4-margin);
  }

  --h5 {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
    margin: 0 0 var(--h5-margin);
  }

  --h6 {
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
    margin: 0 0 var(--h6-margin);
  }

  --small {
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    margin: 0 0 var(--small-margin);
  }

}

.xxl {
  @apply --xxl;
}

.xl {
  @apply --xl;
}

h1,
.h1 {
  @apply --h1;
}

h2,
.h2 {
  @apply --h2;
}

h3,
.h3 {
  @apply --h3;
}

h4,
.h4 {
  @apply --h4;
}

h5,
.h5 {
  @apply --h5;
}

h6,
.h6 {
  @apply --h6;
}

small,
.small {
  @apply --small;
}

@media (--breakpoint-sm) {

  .xxl-sm {
    @apply --xxl;
  }

  .xl-sm {
    @apply --xl;
  }

  .h1-sm {
    @apply --h1;
  }

  .h2-sm {
    @apply --h2;
  }

  .h3-sm {
    @apply --h3;
  }

  .h4-sm {
    @apply --h4;
  }

  .h5-sm {
    @apply --h5;
  }

  .h6-sm {
    @apply --h6;
  }

  .small-sm {
    @apply --small;
  }

}

@media (--breakpoint-md) {

  .xxl-md {
    @apply --xxl;
  }

  .xl-md {
    @apply --xl;
  }

  .h1-md {
    @apply --h1;
  }

  .h2-md {
    @apply --h2;
  }

  .h3-md {
    @apply --h3;
  }

  .h4-md {
    @apply --h4;
  }

  .h5-md {
    @apply --h5;
  }

  .h6-md {
    @apply --h6;
  }

  .small-md {
    @apply --small;
  }

}

@media (--breakpoint-lg) {

  .xxl-lg {
    @apply --xxl;
  }

  .xl-lg {
    @apply --xl;
  }

  .h1-lg {
    @apply --h1;
  }

  .h2-lg {
    @apply --h2;
  }

  .h3-lg {
    @apply --h3;
  }

  .h4-lg {
    @apply --h4;
  }

  .h5-lg {
    @apply --h5;
  }

  .h6-lg {
    @apply --h6;
  }

  .small-lg {
    @apply --small;
  }

}

@media (--breakpoint-xl) {

  .xxl-xl {
    @apply --xxl;
  }

  .xl-xl {
    @apply --xl;
  }

  .h1-xl {
    @apply --h1;
  }

  .h2-xl {
    @apply --h2;
  }

  .h3-xl {
    @apply --h3;
  }

  .h4-xl {
    @apply --h4;
  }

  .h5-xl {
    @apply --h5;
  }

  .h6-xl {
    @apply --h6;
  }

  .small-xl {
    @apply --small;
  }

}
