:root {
  --base-font-size-1: 1em;
  --base-font-size-2: 1.25em;
  --base-line-height: 1.5;
  --base-spacing-unit: var(--base-line-height)em;
  --half-spacing-unit: calc(var(--base-spacing-unit)/2);
}
